<a href="https://colab.research.google.com/github/maheshwaribawankule/maheshwaribawankule/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

# 1)String
my_string = "Maheshwari Bawankule"

# 2)List
my_list = [11, 22, 33, 44, 55]

# 3)Float
my_float = 3.14159

# Tuple
my_tuple = (10,20,30,40,50)

In [9]:
# Q2. Given are some following variables containing data:
# (i) var1 = ‘ ‘
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

var1 = ''
type(var1)

var2 = '[ DS , ML , Python]'
type(var2)

var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

var4 = 1
type(var4)

int

In [14]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# (i) / (Division Operator):
# The / operator is used to perform division between two numbers.
# It results in a floating-point number, even if the division is between two integers.

x = 10
y = 5
z = x / y
print(z)

# (ii) % (Modulo Operator):
# The % operator calculates the remainder of the division between two numbers.
x = 10
y = 5
z = x % y
print(z)

# (iii) // (Floor Division Operator):
# The // operator performs division between two numbers, but it discards the decimal part, resulting in an integer quotient.

x = 10
y = 8
z = x // y
print(z)

# (iv) ** (Exponentiation Operator):
# The ** operator is used to raise a number to a certain power.

x = 2
y = 3
z = x ** y
print(z)

2.0
0
1
8

In [15]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
# element and its data type.

my_list = [10, "Hello", 3.14159, True, [1, 2, 3], ("apple", "banana"), {'name': 'John', 'age': 25}, None, 5.0, False]

for item in my_list:
    print(f"Element: {item}, Data Type: {type(item)}")

Element: 10, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14159, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: ('apple', 'banana'), Data Type: <class 'tuple'>
Element: {'name': 'John', 'age': 25}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: 5.0, Data Type: <class 'float'>
Element: False, Data Type: <class 'bool'>

In [16]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
# times it can be divisible.

A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A >= B:
    A -= B
    count += 1

if A == 0:
    print(f"{B} is a divisor of the original A, and it can be divided {count} times.")
else:
    print(f"{B} is not a divisor of the original A.")

Enter number A: 5
Enter number B: 6
6 is not a divisor of the original A.

In [17]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
# divisible by 3 or not.


my_list = [6, 12, 9, 4, 15, 8, 21, 18, 7, 24, 16, 10, 27, 30, 14, 3, 22, 11, 33, 20, 36, 13, 25, 28, 2]


for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

6 is divisible by 3
12 is divisible by 3
9 is divisible by 3
4 is not divisible by 3
15 is divisible by 3
8 is not divisible by 3
21 is divisible by 3
18 is divisible by 3
7 is not divisible by 3
24 is divisible by 3
16 is not divisible by 3
10 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
14 is not divisible by 3
3 is divisible by 3
22 is not divisible by 3
11 is not divisible by 3
33 is divisible by 3
20 is not divisible by 3
36 is divisible by 3
13 is not divisible by 3
25 is not divisible by 3
28 is not divisible by 3
2 is not divisible by 3

In [18]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing
# this property.
# Immutable
x = "Maheshwari"
x = x + " Bawankule"
print(x)

#Mutable
my_list = [10, 20, 30]
my_list.append(40)
print(my_list)

Maheshwari Bawankule
[10, 20, 30, 40]